body {
  margin: 0 0 20px 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

article {
  width: 100px;
  height: 200px;
  background: grey;
  margin-top: 20px;
}

article:not(:nth-last-of-type(1)) {
  margin: 20px 20px 0 0;
}
